{% extends "base_table.html" %}
{% load i18n %}
{% load staticfiles %}
{% load be_rpt_extras %}

{% block title %}
Alchip block list
{% endblock %}

{% block bc %}
<breadcrumb>
  <breadcrumb-item><a href="{% url 'be_rpt:proj_list' %}" title="go to projects list">{{proj_name}}</a></breadcrumb-item>
  <breadcrumb-item>blocks</breadcrumb-item>
</breadcrumb>
{% endblock %}

{% block js_table %}
<script>
 var db_col_ary = [
   {
     title: "Block Name",
     key: "block_name",
     /* "fixed": "left",*/
     width: 200,
     sortable: true,
     render: (h, params) => {
       const row = params.row;
       const text = row.block_name
       return h("a", {
         attrs: {
           href: "{% url 'be_rpt:version_list' proj_name 'djst_var' %}".replace("djst_var", text)
         }
       }, text);
     }
   },
   {% for block_head in block_head_lst %}
   {% if block_head|to_lu == "status" %}
   {
     title: "Status",
     key: "{{block_head|to_lu}}",
     width: 150,
     sortable: true,
     render: (h, params) => {
       const row = params.row;
       const color = row.status === "running" ? "yellow" : row.status === "passed" ? "green" : "red";
       const text = row.status
       return h("Tag", {
         props: {
           type: "dot",
           color: color
         }
       }, text);
     }
   },
   {% else %}
   {
     title: "{{ block_head }}",
     key: "{{ block_head|to_lu }}",
     width: 200,
     sortable: true,
     {% if block_head|to_lu == "prop2" %}
     filters: [
       {
         label: "value is available",
         value: 1
       },
       {
         label: "value is NA",
         value: 2
       }
     ],
     filterMultiple: false,
     filterMethod (value, row) {
       if (value === 1) {
         return row.{{block_head|to_lu}} !== "None";
       } else if (value === 2) {
         return row.{{block_head|to_lu}} === "None";
       }
     }
     {% endif %}
   },
   {% endif %}
   {% endfor %}
 ];

 var db_data_ary = [
   {% for block in object_list %}
   {
     block_name: "{{ block.name }}",
     {% for block_head in block_head_lst %}
     {{ block_head|to_lu }}: "{{ block.data|get_value:block_head|safe }}",
     {% endfor %}
     {% for block_key, block_value in block.data.items %}
     {% if block_key|to_lu not in block_head_lst %}
     {{block_key|to_lu}}: "{{block_value}}"
     {% endif %}
     {% endfor %}
   },
   {% endfor %}
 ];
</script>
{% endblock %}
