[DEFAULT]
# starrc memory requirement for bsub
star_mem_requirement          = 20000
# starrc cpu number for run
star_cpu_number               = 4
# bsub queue name
openlava_batch_queue          = op4

[ext.csh]
_exec_cmd                     = csh
_exec_tool                    = module load synopsys/starrc_vM-2017.06 

# RC corner used for RC extraction, fill the RC corner the same as PR stage
conds                         = cworst_CCworst_T rcworst_CCworst
# specify RC corner with selected temprature for RC extraction
selected_corners              = cworst_CCworst_T_0c
                                cworst_CCworst_T_m40c
                                rcworst_CCworst_125c
# cbest_CCbest_0c
# cbest_CCbest_125c
# cworst_CCworst_0c
# cworst_CCworst_125c
# cworst_CCworst_T_125c
# rcbest_CCbest_0c
# rcbest_CCbest_125c
# rcworst_CCworst_0c
# rcworst_CCworst_125c
# rcworst_CCworst_T_0c
# rcworst_CCworst_T_125c

# specify star flow type, available value is : ndm/deflef/milkyway
star_flow_type                = ndm

# specify with ndm_block_name for extraction, if not specified, block name with pr stage name will be used. EX: orange/06_route_opt
ndm_block_name                = 

# if YES, DPT: YES
dpt                           = YES

# if YES, EXTRACT_VIA_CAPS: YES
extract_via_caps              = YES

# if YES, use simultaneous_multi_corner run multi-thread rc extraction with xx.smc file
simultaneous_multi_corner     = YES

# if FLOATING, METAL_FILL_POLYGON_HANDLING : FLOATING
metal_fill_polygon_handling   = FLOATING

# specify with COUPLING_ABS_THRESHOLD value
coupling_abs_threshold        = 3e-16

# specify with COUPLING_REL_THRESHOLD value
coupling_rel_threshold        = 0.01


