{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'npm/node_modules/iview/dist/styles/iview.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>

  <body>
    <div id="op_site_base">
      <div class="layout" :class="{'layout-hide-text': spanLeft < 5}">
        <row type="flex">
          <i-col :span="spanLeft" class="layout-menu-left">
            <i-menu active-name="1" theme="dark" width="auto">
              <div class="layout-logo-left"></div>
              <menu-item name="1">
                <Icon type="ios-albums-outline" :size="iconSize"></Icon>
                <a href="/be_rpt/" class="layout-text">BE Reports</a>
              </menu-item>
              <menu-item name="2">
                <Icon type="ios-albums-outline" :size="iconSize"></Icon>
                <a href="#" class="layout-text">FE Reports</a>
              </menu-item>
              <!-- <menu-item name="3">
                   <Icon type="ios-analytics" :size="iconSize"></Icon>
                   <a href="#" class="layout-text">AI Analytics</a>
                   </menu-item> -->
            </i-menu>
          </i-col>
          <i-col :span="spanRight">
            <div class="layout-ceiling">
              <i-button type="text" @click="toggleClick">
                <Icon type="navicon" size="32"></Icon>
              </i-button>
              <div class="layout-ceiling-main">
                <a href="/">Home</a> |
                <a href="#">Documents</a> |
                <a href="#">Contact Us</a> |
                <a href="#">Sign Up</a>
              </div>
            </div>
            <div class="layout-header">
              <div class="layout-logo">
                <img src="{% static 'images/alchip_83x50.png' %}">
              </div>
            </div>
            <div class="layout-breadcrumb">
              {% block bc %}
              {% endblock %}
              <!-- <breadcrumb>
                   <breadcrumb-item href="#">Index</breadcrumb-item>
                   <breadcrumb-item href="#">Apps</breadcrumb-item>
                   <breadcrumb-item>App</breadcrumb-item>
                   </breadcrumb> -->
            </div>
            <div class="layout-content">
              <div class="layout-content-main">
                {% block content %}
                {% endblock %}
              </div>
              <!-- <div style="height: 300px"></div> -->
            </div>
            <div class="layout-copy">
              2017 &copy; Alchip
            </div>
          </i-col>
        </row>
      </div>
    </div>

    {% block template %}
    {% endblock %}

    <script src="{% static 'npm/node_modules/vue/dist/vue.js' %}"></script>
    <script src="{% static 'npm/node_modules/iview/dist/iview.js' %}"></script>

    {% block js %}
    {% endblock %}

    <script>
     var Main = {
       data () {
         return {
           spanLeft: 5,
           spanRight: 19
         }
       },
       computed: {
         iconSize () {
           return this.spanLeft === 5 ? 14 : 24;
         }
       },
       methods: {
         toggleClick () {
           if (this.spanLeft === 5) {
             this.spanLeft = 2;
             this.spanRight = 22;
           } else {
             this.spanLeft = 5;
             this.spanRight = 19;
           }
         }
       }
     }
     var Component = Vue.extend(Main)
     new Component().$mount("#op_site_base")
    </script>
  </body>
</html>
