{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/alchip_favicon_64x64.png' %}">
    <link rel="stylesheet" href="{% static 'npm/node_modules/iview/dist/styles/iview.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>

  <body>
    <div id="op_site_base">
      <div class="layout" :class="{'layout-hide-text': spanLeft < 2}">
        <row type="flex">
          <i-col :span="spanLeft" class="layout-menu-left">
            <i-menu active-name="be_rpt" theme="dark" width="auto" @on-select="changeContent">
              <div class="layout-logo-left"></div>
              <menu-item name="be_rpt">
                <Icon type="ios-albums-outline" :size="iconSize"></Icon>
                <span class="layout-text">BE Reports</span>
              </menu-item>
              <!-- <menu-item name="fe_rpt">
                   <Icon type="ios-albums-outline" :size="iconSize"></Icon>
                   <span class="layout-text">FE Reports</span>
                   </menu-item> -->
              <menu-item name="proj_checker">
                <Icon type="ios-analytics" :size="iconSize"></Icon>
                <span class="layout-text">Projects Checker</span>
              </menu-item>
            </i-menu>
          </i-col>
          <i-col :span="spanRight">
            <div class="layout-ceiling">
              <i-button type="text" @click="toggleClick">
                <Icon type="navicon" size="32"></Icon>
              </i-button>
              <div class="layout-ceiling-main">
                <a @click="changeContent('home')" href="/">Home</a> |
                <a href="#">Documents</a> |
                <a href="#">Contact Us</a> |
                <a href="#">Sign In</a>
              </div>
            </div>
            {% block content %}
            {% endblock %}
            <div class="layout-copy">
              2017 &copy; Alchip. Trusted Silicon Partner Realizing Innovations.
            </div>
          </i-col>
        </row>
      </div>
    </div>

    <script src="{% static 'npm/node_modules/vue/dist/vue.js' %}"></script>
    <script src="{% static 'npm/node_modules/axios/dist/axios.js' %}"></script>
    <script src="{% static 'npm/node_modules/iview/dist/iview.js' %}"></script>
    <script src="{% static 'npm/node_modules/iview/dist/locale/en-US.js' %}"></script>
    <script>iview.lang("en-US")</script>

    {% block component %}
    {% endblock %}

    <script>
     var Main = {
       data: function () {
         return {
           spanLeft: 2,
           spanRight: 22,
           content_id: "home"
         }
       },
       computed: {
         iconSize: function () {
           return this.spanLeft === 2 ? 14 : 24
         }
       },
       methods: {
         changeContent: function (con) {
           this.content_id = con
         },
         toggleClick: function () {
           if (this.spanLeft === 2) {
             this.spanLeft = 1
             this.spanRight = 23
           } else {
             this.spanLeft = 2
             this.spanRight = 22
           }
         }
       }
     }
     var Component = Vue.extend(Main)
     new Component().$mount("#op_site_base")
    </script>
  </body>
</html>
