{% load i18n %}
{% load staticfiles %}

<template id="be_rpt">
  <div>
    {% verbatim %}
    <div class="layout-breadcrumb">
      <breadcrumb>
        <breadcrumb-item><a @click="procTable({method: 'get', url: level_url.index}, 'proj')" title="go to project list">{{cb_data.l0.text}}</a></breadcrumb-item>
        <breadcrumb-item v-if="level === 'block' || level === 'version' || level === 'flow' || level === 'stage' || level === 'detail'"><a @click="procTable({method: 'get', url: level_url.proj.replace('djst_var', cb_data.l1.url_id)}, 'block')" title="go to block list">{{cb_data.l1.text}}</a></breadcrumb-item>
        <breadcrumb-item v-if="level === 'version' || level === 'flow' || level === 'stage' || level === 'detail'"><a @click="procTable({method: 'get', url: level_url.block.replace('djst_var', cb_data.l2.url_id)}, 'version')" title="go to version list">{{cb_data.l2.text}}</a></breadcrumb-item>
        <breadcrumb-item v-if="level === 'flow' || level === 'stage' || level === 'detail'"><a @click="procTable({method: 'get', url: level_url.version.replace('djst_var', cb_data.l3.url_id)}, 'flow')" title="go to flow list">{{cb_data.l3.text}}</a></breadcrumb-item>
        <breadcrumb-item v-if="level === 'stage' || level === 'detail'"><a @click="procTable({method: 'get', url: level_url.flow.replace('djst_var', cb_data.l4.url_id)}, 'stage')" title="go to stage list">{{cb_data.l4.text}}</a></breadcrumb-item>
        <breadcrumb-item v-if="level === 'detail'"><a @click="procTable({method: 'get', url: level_url.stage.replace('djst_var', cb_data.l5.url_id)}, 'detail')" title="refresh detail page">{{cb_data.l5.text}}</a></breadcrumb-item>
      </breadcrumb>
    </div>
    {% endverbatim %}
    <div class="layout-content">
      <div class="layout-content-main" style="background-image:url({% static 'images/background_1200x600.jpg' %})">
        <div v-if="level === 'detail'" style="background:#eee; padding:20px">
          <div v-if="cur_data.data">
            <Card v-for="key in Object.keys(cur_data.data).sort()" v-if="key !== 'status'" :key="key" :bordered="false" style="font-family:monospace; color:black">
              {% verbatim %}
              <div v-if="check_img_key(key)">
                <p slot="title">{{ key }}</p>
                <p><p v-html="cur_data.data[key]"></p></p>
              </div>
              <div v-else>
                <p slot="title">{{ key }}</p>
                <p><pre>{{ cur_data.data[key] }}</pre></p>
              </div>
              {% endverbatim %}
            </Card>
          </div>
        </div>
        <div v-else>
          <div style="margin:10px">
            Display border <i-switch v-model="showBorder" style="margin-right:5px"></i-switch>
            Display stripe <i-switch v-model="showStripe" style="margin-right:5px"></i-switch>
            Display index <i-switch v-model="showIndex" style="margin-right:5px"></i-switch>
            Display multi choice <i-switch v-model="showCheckbox" style="margin-right:5px"></i-switch>
            Display header <i-switch v-model="showHeader" style="margin-right:5px"></i-switch>
            Table scrolling <i-switch v-model="fixedHeader" style="margin-right:5px"></i-switch>
            <br>
            <br>
            Table size
            <Radio-group v-model="tableSize" type="button">
              <Radio label="large">large</Radio>
              <Radio label="default">medium</Radio>
              <Radio label="small">small(default)</Radio>
            </Radio-group>
          </div>
          <i-table :border="showBorder" :stripe="showStripe" :show-header="showHeader" :height="fixedHeader?300:''" :columns="table_col" :data="table_data" :size="tableSize" ref="table"></i-table>
          <div style="margin:10px; overflow:hidden">
            <div style="float:right">
              <Page :total="dataCount" :page-size="pageSize" show-total @on-change="changePage"></Page>
            </div>
          </div>
          <br>
          <i-button @click="handleSelectAll(true)">Set all selected</i-button>
          <i-button @click="handleSelectAll(false)">Cancel all selected</i-button>
          <i-button @click="deleteSelections()">Delete selected</i-button>
          <br>
          <br>
          <i-button type="primary" size="large" @click="exportData(1)"><icon type="ios-download-outline"></icon> Export source data</i-button>
          <i-button type="primary" size="large" @click="exportData(2)"><icon type="ios-download-outline"></icon> Export sorting and filtered data</i-button>
          <i-button type="primary" size="large" @click="exportData(3)"><icon type="ios-download-outline"></icon> Export custom data</i-button>
        </div>
      </div>
    </div>
    <!-- <div style="height:300px"></div> -->
  </div>
</template>

<script>
 Vue.component("be_rpt", {
   template: "#be_rpt",
   props: ["content_id"],
   data: function () {
     return {
       table_data: [],
       col_ary: [],
       data_ary: [],
       filter_ary_obj: {},
       showBorder: false,
       showStripe: false,
       showHeader: true,
       showIndex: false,
       showCheckbox: true,
       fixedHeader: false,
       tableSize: "small",
       dataCount: 0,
       pageSize: 10,
       rsp_data: {},
       rsp_title: {},
       level: "",
       level_url: {
         index: "{% url 'be_rpt:proj_list' %}",
         title: "{% url 'be_rpt:title_detail' '1' %}",
         proj: "{% url 'be_rpt:proj_detail' 'djst_var' %}",
         block: "{% url 'be_rpt:block_detail' 'djst_var' %}",
         version: "{% url 'be_rpt:version_detail' 'djst_var' %}",
         flow: "{% url 'be_rpt:flow_detail' 'djst_var' %}",
         stage: "{% url 'be_rpt:stage_detail' 'djst_var' %}",
         detail: ""
       },
       level_next: {
         index: "proj",
         proj: "block",
         block: "version",
         version: "flow",
         flow: "stage",
         stage: "detail",
         detail: ""
       },
       cur_title: [],
       cur_data: [],
       cb_data: {
         l0: {},
         l1: {},
         l2: {},
         l3: {},
         l4: {},
         l5: {}
       }
     }
   },
   computed: {
     table_col: function () {
       var columns = []
       if (this.showCheckbox) {
         columns.push({
           type: "selection",
           width: 60,
           align: "center"
         })
       }
       if (this.showIndex) {
         columns.push({
           type: "index",
           width: 60,
           align: "center"
         })
       }
       for (var i = 0; i < this.col_ary.length; i++) {
         columns.push(this.col_ary[i])
       }
       columns.push({
         title: "Action",
         key: "action",
         width: 150,
         align: "center",
         fixed: "right",
         render: (h, params) => {
           return h("div", [
             h("Button", {
               props: {
                 type: "primary",
                 size: "small"
               },
               style: {
                 marginRight: "5px"
               },
               on: {
                 click: () => {
                   this.show(params.index)
                 }
               }
             }, "View"),
             h("Button", {
               props: {
                 type: "error",
                 size: "small"
               },
               on: {
                 click: () => {
                   this.remove(params.index)
                 }
               }
             }, "Delete")
           ])
         }
       })
       return columns
     }
   },
   watch: {
     content_id: "changeContent"
   },
   methods: {
     changeContent: function() {
       if (this.content_id === "be_rpt") {
         this.procTable({
           method: "get",
           url: this.level_url.index
         }, "proj")
       }
     },
     procTable: function(ajax_cfg, level) {
       axios(ajax_cfg).then((response) => {
         this.rsp_data = response.data
         console.log(this.rsp_data)
         this.level = level
         this.procTitle({
           method: "get",
           url: this.level_url.title
         })
       }).catch((error) => {
         console.log(error)
       })
     },
     procTitle: function(ajax_cfg) {
       axios(ajax_cfg).then((response) => {
         this.rsp_title = response.data
         this.procLevel()
         if (this.level !== "detail") {
           this.procDataAry()
           this.procColAry()
           this.pageTableData()
         }
       }).catch((error) => {
         console.log(error)
       })
     },
     procLevel: function () {
       if (this.level === "proj") {
         this.cur_data = this.rsp_data
         this.cb_data.l0.text = "projects"
       } else if (this.level === "block") {
         this.cur_data = this.rsp_data.block_proj
         this.cb_data.l0.text = this.rsp_data.name
         this.cb_data.l1.url_id = this.rsp_data.id
         this.cb_data.l1.text = "blocks"
       } else if (this.level === "version") {
         this.cur_data = this.rsp_data.version_block
         this.cb_data.l0.text = this.rsp_data.proj.name
         this.cb_data.l1.url_id = this.rsp_data.proj.id
         this.cb_data.l1.text = this.rsp_data.name
         this.cb_data.l2.url_id = this.rsp_data.id
         this.cb_data.l2.text = "versions"
       } else if (this.level === "flow") {
         this.cur_data = this.rsp_data.flow_version
         this.cb_data.l0.text = this.rsp_data.block.proj.name
         this.cb_data.l1.url_id = this.rsp_data.block.proj.id
         this.cb_data.l1.text = this.rsp_data.block.name
         this.cb_data.l2.url_id = this.rsp_data.block.id
         this.cb_data.l2.text = this.rsp_data.name
         this.cb_data.l3.url_id = this.rsp_data.id
         this.cb_data.l3.text = "flows"
       } else if (this.level === "stage") {
         this.cur_data = this.rsp_data.stage_flow
         this.cb_data.l0.text = this.rsp_data.version.block.proj.name
         this.cb_data.l1.url_id = this.rsp_data.version.block.proj.id
         this.cb_data.l1.text = this.rsp_data.version.block.name
         this.cb_data.l2.url_id = this.rsp_data.version.block.id
         this.cb_data.l2.text = this.rsp_data.version.name
         this.cb_data.l3.url_id = this.rsp_data.version.id
         this.cb_data.l3.text = this.rsp_data.name
         this.cb_data.l4.url_id = this.rsp_data.id
         this.cb_data.l4.text = "stages"
       } else if (this.level == "detail") {
         this.cur_data = this.rsp_data
         this.cb_data.l0.text = this.rsp_data.flow.version.block.proj.name
         this.cb_data.l1.url_id = this.rsp_data.flow.version.block.proj.id
         this.cb_data.l1.text = this.rsp_data.flow.version.block.name
         this.cb_data.l2.url_id = this.rsp_data.flow.version.block.id
         this.cb_data.l2.text = this.rsp_data.flow.version.name
         this.cb_data.l3.url_id = this.rsp_data.flow.version.id
         this.cb_data.l3.text = this.rsp_data.flow.name
         this.cb_data.l4.url_id = this.rsp_data.flow.id
         this.cb_data.l4.text = this.rsp_data.name
         this.cb_data.l5.url_id = this.rsp_data.id
         this.cb_data.l5.text = "details"
       }
       if (this.level !== "detail") {
         this.cur_title = this.rsp_title[this.level]
       }
     },
     procColAry: function () {
       this.col_ary = [
         {
           title: this.level + " name",
           key: "obj_name",
           /* "fixed": "left",*/
           width: 200,
           sortable: true,
           sortType: "asc",
           render: (h, params) => {
             const row = params.row
             const pk = row.obj_pk
             const text = row.obj_name
             return h("a", {
               on: {
                 click: () => {
                   this.procTable({
                     method: "get",
                     url: this.level_url[this.level].replace("djst_var", pk)}, this.level_next[this.level])
                 }
               }
             }, text)
           },
           filters: this.filter_ary_obj.obj_name,
           filterMultiple: true,
           filterMethod: function (value, row) {
             return row.obj_name === value
           }
         },
         {
           title: "Owner",
           key: "owner",
           width: 150,
           sortable: true,
           filters: this.filter_ary_obj.owner,
           filterMultiple: true,
           filterMethod: function (value, row) {
             return row.owner === value
           }
         }
       ]
       if (this.level === "version"  || this.level === "flow" || this.level === "stage")
         this.col_ary.push({
           title: "Date",
           key: "created_time",
           width: 200,
           sortable: true
         })
       if (this.level === "block")
         this.col_ary.push({
           title: "Milestone",
           key: "milestone",
           width: 150,
           sortable: true,
           render: (h, params) => {
             const row = params.row
             const ms_pk = row.ms_pk
             const text = row.milestone
             return h("a", {
               attrs: {
                 href: this.level_url.stage.replace("djst_var", ms_pk)
               }
             }, text)
           }
         })
       for (var i = 0; i < this.cur_title.length; i++) {
         var head = this.cur_title[i]
         if (head === "status")
           this.col_ary.push({
             title: head,
             key: head,
             width: 150,
             sortable: true,
             render: (h, params) => {
               const row = params.row
               const color = row.status === "running" ? "yellow" : row.status === "passed" ? "green" : "red"
               const text = row.status
               return h("Tag", {
                 props: {
                   type: "dot",
                   color: color
                 }
               }, text)
             }
           })
         else
           this.col_ary.push({
             title: head,
             key: head,
             width: 150,
             sortable: true,
           })
       }
     },
     procDataAry: function () {
       this.data_ary = []
       this.filter_ary_obj = {obj_name: [], owner: []}
       var unique_ary_obj = {obj_name: [], owner: []}
       for (var i = 0; i < this.cur_data.length; i++) {
         var qs_obj = this.cur_data[i]
         data_dic = {
           obj_pk: qs_obj.id,
           obj_name: qs_obj.name
         }
         if (qs_obj.owner === null) {
           data_dic.owner = "NA"
         } else {
           data_dic.owner = qs_obj.owner.name
         }
         if (this.level === "version" || this.level === "flow" || this.level === "stage") {
           data_dic.created_time = qs_obj.created_time.slice(0, 19).replace("T", " ")
         }
         if (this.level === "block") {
           data_dic.milestone = qs_obj.milestone
         }
         for (var key in qs_obj.data) {
           data_dic[key] = qs_obj.data[key]
         }
         this.data_ary.push(data_dic)
         for (var key in this.filter_ary_obj) {
           if (unique_ary_obj[key].indexOf(data_dic[key]) === -1) {
             this.filter_ary_obj[key].push({"label": data_dic[key], "value": data_dic[key]})
             unique_ary_obj[key].push(data_dic[key])
           }
         }
       }
     },
     pageTableData: function () {
       this.dataCount = this.data_ary.length
       if (this.data_ary.length < this.pageSize) {
         this.table_data = this.data_ary
       } else {
         this.table_data = this.data_ary.slice(0, this.pageSize)
       }
     },
     changePage: function (index) {
       var _start = (index - 1) * this.pageSize
       var _end = index * this.pageSize
       this.table_data = this.data_ary.slice(_start, _end)
     },
     exportData: function (type) {
       if (type === 1) {
         this.$refs.table.exportCsv({
           filename: "the_original_data"
         })
       } else if (type === 2) {
         this.$refs.table.exportCsv({
           filename: "sorting_and_filtering_data",
           original: false
         })
       } else if (type === 3) {
         this.$refs.table.exportCsv({
           filename: "custom_data",
           columns: this.table_col.filter((col, index) => index < this.table_col.length-1),
           data: this.table_data.filter((data, index) => index >= 0)
         })
       }
     },
     handleSelectAll: function (status) {
       this.$refs.table.selectAll(status)
     },
     deleteSelections: function () {
       var sel_dic = this.$refs.table.getSelection()
       for (var i = sel_dic.length-1; i >= 0; i--) {
         this.table_data.splice(sel_dic[i], 1)
       }
     },
     show: function (index) {
       var content = ""
       for (var td_key in this.table_data[index]) {
         content += td_key + ": " + this.table_data[index][td_key] + "<br>"
       }
       this.$Modal.info({
         title: "Detailed Info",
         content: content
       })
     },
     remove: function (index) {
       this.table_data.splice(index, 1)
     },
     check_img_key: function (key) {
       return key.endsWith("img")
     }
   }
   /* created: function () {
    * }*/
 })
</script>
