{% load i18n %}
{% load staticfiles %}

<template id="home">
  <div>
    <div class="layout-content">
      <div class="layout-content-main" style="background-image:url({% static 'images/background_1200x600.jpg' %})">
        <div style="padding-top:40px; text-align:center; height:400px">
          <div>
            <img src="{% static 'images/alchip_388x200.png' %}">
          </div>
          <br>
          <br>
          <div style="font-size:30px; color:#205081">
            <span style="color:#1162a5">OnePiece</span> <span style="color:#1574c4">Platform</span>
          </div>
          <br>
          <div style="font-size:20px">
            <span style="color:DarkGray">Trusted Silicon Partner</span> <span style="color:Gray">Realizing Innovations</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
 Vue.component("home", {
   template: "#home",
 })
</script>
