[user]
        name = cmos3511
        email = gary3511@gmail.com
[core]
        editor = emacsclient -c -a emacs
[color]
        status = auto
        branch = auto
        interactive = auto
        diff = auto
[credential]
	helper = cache --timeout=3600
