{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/alchip_favicon_64x64.png' %}">
    <link rel="stylesheet" href="{% static 'npm/node_modules/iview/dist/styles/iview.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>

  <body>
    <div id="op_site_base">
      <back-top></back-top>
      <div class="layout" :class="{'layout-hide-text': spanLeft < 2}">
        <row type="flex">
          <i-col :span="spanLeft" class="layout-menu-left">
            <i-menu theme="dark" width="auto" @on-select="changeContent">
              <div class="layout-logo-left"></div>
              <menu-item name="flow_status">
                <Icon type="stats-bars" :size="iconSize"></Icon>
                <span class="layout-text">Flow Status</span>
              </menu-item>
              <menu-item name="flow_rpt">
                <Icon type="document-text" :size="iconSize"></Icon>
                <span class="layout-text">Flow Reports</span>
              </menu-item>
              <menu-item name="proj_signoff" v-if="user === 'guanyu_yi'">
                <Icon type="android-done-all" :size="iconSize"></Icon>
                <span class="layout-text">Proj Signoff</span>
              </menu-item>
              <menu-item name="proj_checker" v-if="user === 'guanyu_yi'">
                <Icon type="android-checkmark-circle" :size="iconSize"></Icon>
                <span class="layout-text">Proj Checker</span>
              </menu-item>
              <menu-item name="job_sum" v-if="user === 'guanyu_yi' || user === 'danielw'">
                <Icon type="ios-analytics" :size="iconSize"></Icon>
                <span class="layout-text">Job Summary</span>
              </menu-item>
              <menu-item name="server_sum" v-if="user === 'guanyu_yi' || user === 'danielw'">
                <Icon type="ios-analytics" :size="iconSize"></Icon>
                <span class="layout-text">Server Summary</span>
              </menu-item>
            </i-menu>
          </i-col>
          <i-col :span="spanRight">
            <div class="layout-ceiling">
              <i-button type="text" @click="toggleClick">
                <Icon type="navicon" size="32"></Icon>
              </i-button>
              <div class="layout-ceiling-main">
                <a @click="changeContent('home')" href="/">Home</a> |
                <a v-if="ss_flg" href="/static/doc/_build/html/index.html">Documents</a><span v-if="ss_flg"> |</span>
                <a v-if="ss_flg" href="/static/service/_build/html/index.html">Services</a><span v-if="ss_flg"> |</span>
                <a v-if="ss_flg" href="/static/cu/_build/html/index.html">Contact Us</a><span v-if="ss_flg"> |</span>
                <a v-if="ss_flg" @click="confirmLogout" href="#">Sign Out</a>
                <a v-else @click="confirmLogin" href="#">Sign In</a>
                {% verbatim %}
                <span v-if="ss_flg" style="color:orange">  {{user}}</span>
                {% endverbatim %}
              </div>
            </div>
            <router-view></router-view>
            <div class="layout-copy">
              2017 &copy; Alchip. Trusted Silicon Partner Realizing Innovations
            </div>
          </i-col>
        </row>
      </div>
    </div>

    <script src="{% static 'npm/node_modules/vue/dist/vue.js' %}"></script>
    <script src="{% static 'npm/node_modules/vue-router/dist/vue-router.js' %}"></script>
    <script src="{% static 'npm/node_modules/axios/dist/axios.js' %}"></script>
    <script src="{% static 'npm/node_modules/iview/dist/iview.js' %}"></script>
    <script src="{% static 'npm/node_modules/iview/dist/locale/en-US.js' %}"></script>
    <script>iview.lang("en-US")</script>
    <script src="{% static 'npm/node_modules/ckeditor-full/ckeditor.js' %}"></script>
    <script src="{% static 'npm/node_modules/js-cookie/src/js.cookie.js' %}"></script>

    <script>
     Vue.prototype.$pCookie = function () {
       var ops = Cookies.get("op_session")
       if (ops) {
         return JSON.parse(ops)
       } else {
         return {}
       }
     }
    </script>

    {% block component %}
    {% endblock %}

    <script>
     const routes = [
       {path: "/", name: "home", component: Home},
       {path: "/v_flow_status", name: "flow_status_list", component: FlowStatusList},
       {path: "/v_flow_status/:f_id", name: "flow_status_detail", component: FlowStatusDetail},
       {path: "/v_flow_rpt/:p_id/:b_id/:f_id/:s_id", name: "flow_rpt", component: FlowRpt},
       {path: "/v_proj_signoff", name: "proj_signoff_proj_list", component: ProjSignoffProjList},
       {path: "/v_proj_signoff/p/:p_id", name: "proj_signoff_block_list", component: ProjSignoffBlockList},
       {path: "/v_proj_signoff/b/:b_id", name: "proj_signoff_block_detail", component: ProjSignoffBlockDetail},
       {path: "/v_proj_checker", name: "proj_checker_list", component: ProjCheckerList},
       {path: "/v_proj_checker/:p_id", name: "proj_checker_detail", component: ProjCheckerDetail},
       {path: "/v_job_sum", name: "job_sum", component: JobSum},
       {path: "/v_server_sum", name: "server_sum", component: ServerSum}
     ]
     const router = new VueRouter({
       routes: routes
     })
     var Main = {
       router,
       data: function () {
         return {
           spanLeft: 2,
           spanRight: 22,
           ss_flg: false,
           user: "",
           password: ""
         }
       },
       computed: {
         iconSize: function () {
           return this.spanLeft === 2 ? 14 : 24
         }
       },
       methods: {
         changeContent: function (con) {
           if (this.ss_flg) {
             if (con === "flow_status") {
               this.$router.push({name: "flow_status_list"})
             } else if (con === "flow_rpt") {
               var params_obj = {p_id: "null", b_id: "null", f_id: "null", s_id: "null"}
               this.$router.push({name: con, params: params_obj})
             } else if (con === "proj_checker") {
               this.$router.push({name: "proj_checker_list"})
             } else if (con === "proj_signoff") {
               this.$router.push({name: "proj_signoff_proj_list"})
             } else {
               this.$router.push({name: con})
             }
           } else {
             this.$Message.warning("Please log in first!")
           }
         },
         toggleClick: function () {
           if (this.spanLeft === 2) {
             this.spanLeft = 1
             this.spanRight = 23
           } else {
             this.spanLeft = 2
             this.spanRight = 22
           }
         },
         checkPW: function () {
           var csrftoken = Cookies.get("csrftoken")
           axios({
             method: "post",
             url: "{% url 'flow_rpt:user_check' %}",
             headers: {"X-CSRFToken": csrftoken},
             data: {
               "user": this.user,
               "password": this.password
             }
           }).then((response) => {
             this.ss_flg = true
             this.$Message.success("User " + this.user + " logged in!")
             Cookies.set("op_session", {"user": this.user, "p_w": this.password}, {expires: 7})
           }).catch((error) => {
             this.ss_flg = false
             this.$Message.error("User " + this.user + " is unauthorized!")
             console.log(error)
           })
         },
         checkCookie: function () {
           var ops = Cookies.get("op_session")
           if (ops) {
             c_obj = this.$pCookie()
             this.user = c_obj.user
             this.password = c_obj.p_w
             this.checkPW()
           } else {
             this.ss_flg = false
           }
         },
         removeCookie: function () {
           Cookies.remove("op_session")
           this.$Message.success("User " + this.user + " logged out!")
           this.ss_flg = false
         },
         confirmLogout: function () {
           var content = "Please confirm to log out the following user:<br>" + this.user
           this.$Modal.confirm({
             title: "Logout Confirm",
             content: content,
             loading: true,
             onOk: () => {
               this.$Modal.remove()
               this.removeCookie()
               this.$router.push({name: "home"})
             }
           })
         },
         confirmLogin: function () {
           this.$Modal.confirm({
             title: "Login Confirm",
             render: (h) => {
               return h("i-form", [
                 h("form-item", {
                   props: {
                     label: "User name:"
                   }
                 }, [
                   h("i-input", {
                     props: {
                       user: this.user,
                       autofocus: true,
                       placeholder: "Please enter your name..."
                     },
                     on: {
                       input: (val) => {
                         this.user = val
                       }
                     }
                   })
                 ]),
                 h("form-item", {
                   props: {
                     label: "Password:"
                   }
                 }, [
                   h("i-input", {
                     props: {
                       password: this.password,
                       type: "password",
                       placeholder: "Please enter your password..."
                     },
                     on: {
                       input: (val) => {
                         this.password = val
                       }
                     }
                   })
                 ])
               ])
             },
             loading: true,
             onOk: () => {
               this.$Modal.remove()
               this.checkPW()
             }
           })
         },
       },
       created: function () {
         this.checkCookie()
       }
     }
     var Component = Vue.extend(Main)
     new Component().$mount("#op_site_base")
    </script>
  </body>
</html>
