{% load i18n %}
{% load staticfiles %}

<template id="home">
  <div>
    <div class="layout-content">
      <div class="layout-content-main" style="background-image:url({% static 'images/background_1200x600.jpg' %})">
        <div class="home-main">
          <div>
            <img src="{% static 'images/alchip_388x200.png' %}">
          </div>
          <br>
          <br>
          <div class="home-name">
            <span class="home-name-left">OnePiece</span> <span class="home-name-right">Platform</span>
          </div>
          <br>
          <div class="home-slog">
            <span class="home-slog-left">Trusted Silicon Partner</span> <span class="home-slog-right">Realizing Innovations</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
 const Home = {
   template: "#home",
 }
</script>
