{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}
op platform --- alchip
{% endblock %}

{% block component %}
{% include "home.html" %}
{% include "flow_status/flow_status_list.html" %}
{% include "flow_status/flow_status_detail.html" %}
{% include "flow_rpt/flow_rpt.html" %}
{% include "proj_checker/proj_checker_list.html" %}
{% include "proj_checker/proj_checker_detail.html" %}
{% include "proj_signoff/proj_signoff_proj_list.html" %}
{% include "proj_signoff/proj_signoff_block_list.html" %}
{% include "proj_signoff/proj_signoff_block_detail.html" %}
{% include "job_sum/job_sum.html" %}
{% include "job_sum/server_sum.html" %}
{% endblock %}
