[DEFAULT]
_job_cmd                                           = bsub -Is
_job_queue                                         = -q beige
_job_cpu_number                                    = -n 4
_job_resource                                      = -R "centos6 span[hosts=1]"

signoff_dir                                        = signoff

[01_icc2_signoff.tcl]
#_exec_cmd                                         =  icc2_shell -output_log_file signoff_icc2.log -f
_exec_cmd                                          =  icc2_shell -output_log_file signoff_icc2.log -f
_exec_tool                                         =  module load synopsys/icc2_vM-2016.12-SP4 

## *** Common variable setting *** ##
signoff_icc2_cpu_number                            = 16
footprint_buf                                      = BUF
footprint_inv                                      = INV 
footprint_tie                                      = TIE
wire_length_limitation                             = 200

## *** Non-public variable setting, need to make changes  *** ##
#ITEM: GE-05-05 ,check signal wire length
signal_wire_length_limitation                      = 500

#ITEM: GE-05-05 ,check clock wire length                  
clock_wire_length_limitation                       = 200
# SPECIFIED INPUT FILE is {{cur.config_plugins_dir}}/signoff/icc2/clk_pin.list, INFORMATION: list all scernario's clk pins,such as {clk_U1/CP clk_U2/CP ...}
#clock_pin_list_file                                = {{cur.config_plugins_dir}}/signoff/icc2/clk_pin.list

#ITEM: GE-02-12 ,check  tie fanout and wire length
tie_wire_length_limitation                         = 100
tie_cell_type                                      = TIE*

#ITEM: CK-02-03 ,check clock NDR rule ,Usage: check_nondef_route < none | -net (net_name|net_file_name) | -clock clock_file_name >
#net_file_name                                      = {{cur.config_plugins_dir}}/signoff/icc2/clock_net.list
#clock_file_name                                    = {{cur.config_plugins_dir}}/signoff/icc2/clock_cell.list

#ITEM: GE-04-13 ,check macro/memory orientation     
mem_ref_names                                      = FA1D0BWP16P90CPDULVT XOR3D0BWP16P90CPDULVT
physical_partition_reference_names                 = 
# SPECIFIED INPUT FILE is {{cur.config_plugins_dir}}/signoff/icc2/allowed_orientation.list, INFORMATION: list all permitted orientation ,such as "R0 R90 R180 R270 MX MXR90 MYR90" 
#mem_orientation_file                               = {{cur.config_plugins_dir}}/signoff/icc2/allowed_orientation.list

#ITEM: GE-04-07 ,check ip isolation
ip_reference_names                                 = FA1D0BWP16P90CPDULVT 
ip_wire_length_limitation                          = 50

#ITEM: GE-04-07 ,check port isolation
port_wire_length_limitation                        = 50

#ITEM: check delay cell chain
delay_cell_type                                    = ref_name=~DEL*

#ITEM: GE-04-20 ,check filler cells                   
filler_cell_type                                   = ref_name =~ FILL*
#ITEM: GE-04-02 ,check decap cells
dcap_cell_type                                     = ref_name =~ DCAP*
#ITEM: GE-04-03 ,check eco cells
eco_cell_type                                      = ref_name =~ GDCAP*

#ITEM: GE-04-08 ,check clock cells  enclosed by decap cells      
# SPECIFIED INPUT FILE is {{cur.config_plugins_dir}}/signoff/icc2/clock_cell_nets.list, INFORMATION: list clk cells | nets ,such as {CTS_u1  CTS_u2 ...}.
#check_clock_decap_file                             = {{cur.config_plugins_dir}}/signoff/icc2/clock_cell_nets.list

#ITEM: GE-02-[06,07] ,check size only cells.                     
# SPECIFIED INPUT FILE is {{cur.config_plugins_dir}}/signoff/icc2/dont_touch_nets.list , INFORMATION: list size only cells,such as {i_instance_1 i_instance_2 ...}
#size_only_cell                                     = {{cur.config_plugins_dir}}/signoff/icc2/size_only_cell.list

#ITEM: GE-02-08 ,check dont touch nets                           
# SPECIFIED INPUT FILE is {{cur.config_plugins_dir}}/signoff/icc2/dont_touch_nets.list, INFORMATION: list dont touch nets,such as {FPGA_CLK IO_CLK AHB0_CLK FPGA_RSTN ...}
#dont_touch_nets                                    = {{cur.config_plugins_dir}}/signoff/icc2/dont_touch_nets.list

[02_invs_signoff.tcl]
_exec_cmd                                          =  innovus -output_log_file signoff_innovus.log -f
_exec_tool                                         =  module load synopsys/icc2_vM-2016.12-SP4 

# signoff innovus global variable setting
signoff_innovus_cpu_number                         = 16

[03_pt_signoff.tcl]
#_exec_cmd                         	           =   pt_shell -output_log_file signoff_pt.log -f
_exec_cmd                         	           =  pt_shell -output_log_file signoff_pt.log -f
_exec_tool                                         =   module load synopsys/pts_vM-2016.12-SP3-2

## *** Common variable setting *** ##
signoff_pt_cpu_number                              = 16

## ***  Non-public variable setting, need to make changes  *** ##
_multi_inst                                        =   func.tt0p8v.wcl.cworst_CCworst_T_m40c.setup
                                                       func.tt0p8v.wcl.cworst_CCworst_T_125c.setup

#ITEM: GE-06-[03,05] ,check clock Xtalk noise delay penalty
clock_threshold                                    =  0.02 
#ITEM: GE-06-[02,04] ,check signal Xtalk noise delay penalty
#signal_threshold                                   = 0.03 

#ITEM: CK-01-19 ,check ip duty cycle
#ip_clock_duty_spec_file                            = IP/CLK_pin  Period  min_duty  max_duty
ip_clock_duty_spec_file                            =  i_instance_1/CP 20.000000 0.49 0.51
pt_cmd_file                                        =  set_min_pulse_width.tcl

#ITEM: CK-01-03 ,check clock cell type
high_vth_cell_ref_name                             =  *HVT
low_drive_cell_ref_name                            =  *D[01]HVT

[04_logs_signoff.csh]
_exec_cmd                                          =  csh 

# Perl
# Starrc logs
# pt logs
# Formality logs
# Xtalk / EDA / annotated_parasitics
