.layout{
    border: 1px solid #d7dde4;
    background: #f5f7f9;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}
.layout-breadcrumb{
    padding: 10px 15px 0;
}
.layout-content{
    min-height: 200px;
    margin: 15px;
    overflow: hidden;
    /* background: #fff; */
    background: #eeeeee;
    border-radius: 4px;
}
.layout-content-main{
    padding: 10px;
}
.layout-menu-left{
    background: #464c5b;
}
.layout-logo{
    width: 83px;
    height: 50px;
    background: #5b6270;
    border-radius: 3px;
    float: left;
    /* margin: 0px auto; */
    position: relative;
    top: 5px;
    left: 20px;
}
.layout-logo-left{
    width: 90%;
    height: 30px;
    background: #5b6270;
    border-radius: 3px;
    margin: 15px auto;
}
.layout-header{
    height: 60px;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
}
.layout-copy{
    text-align: center;
    padding: 10px 0 20px;
    color: #9ea7b4;
}
.layout-ceiling{
    background: #464c5b;
    padding: 10px 0;
    overflow: hidden;
}
.layout-ceiling-main{
    float: right;
    margin-right: 15px;
}
.layout-ceiling-main a{
    color: #9ba7b5;
}
.layout-ceiling-main span{
    color: orange;
}
.layout-hide-text .layout-text{
    display: none;
}
.ivu-col{
    transition: width .2s ease-in-out;
}
.404-main{
    padding-top: 40px;
    text-align: center;
    height: 400px;
}
.404-font{
    font-size: 60px;
}
.home-main{
    padding-top: 40px;
    text-align: center;
    height: 400px;
}
.home-name{
    font-size: 30px;
    color: #205081;
}
.home-name-left{
    color: #1162a5;
}
.home-name-right{
    color: #1574c4;
}
.home-slog{
    font-size: 20px;
}
.home-slog-left{
    color: darkgray;
}
.home-slog-right{
    color: gray;
}
.search-box{
    width: 200px;
}
.table-head{
    margin: 10px;
}
.table-head span{
    margin-right: 5px;
}
.table-page{
    margin: 10px;
    overflow: hidden;
}
.table-page div{
    float: right;
}
.card-set{
    background: #eee;
    padding: 20px;
}
.card-main{
    font-family: monospace;
    color: black;
}
.search-box-b{
    width: 350px;
}
.table-button{
    margin-right: 5px;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.float-l80{
    float: left;
    width: 80px;
}
